# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/local.properties
macos/DerivedData/Runner/Logs/Build/0D218142-DC4E-481C-BB13-72B417A1B655.xcactivitylog
macos/DerivedData/Runner/Logs/Build/2C13ACAA-7ADA-4720-98D9-86D54F4659BC.xcactivitylog
macos/DerivedData/Runner/Logs/Build/7D1C0836-752F-4F89-8C5B-C0038EFE3D7D.xcactivitylog
macos/DerivedData/Runner/Logs/Build/7F805D91-1C9A-4B5D-88C3-303298C45D92.xcactivitylog
macos/DerivedData/Runner/Logs/Build/7FE99765-DEC3-475D-8E17-E48F84AE0401.xcactivitylog
macos/DerivedData/Runner/Logs/Build/21E69CC3-A971-47D4-B779-5C91209EBADC.xcactivitylog
macos/DerivedData/Runner/Logs/Build/52E8D0D7-C01B-4239-B5B5-ED1728E57358.xcactivitylog
macos/DerivedData/Runner/Logs/Build/66C85C87-C56B-4083-8853-2A2A9F82B685.xcactivitylog
macos/DerivedData/Runner/Logs/Build/69C3F984-C103-4015-B80C-995493DC210F.xcactivitylog
macos/DerivedData/Runner/Logs/Build/84C9CA56-54B7-4A34-865D-50E8F107FA5E.xcactivitylog
macos/DerivedData/Runner/Logs/Build/653E426C-CF59-4DC5-A53B-C9D4EA483378.xcactivitylog
macos/DerivedData/Runner/Logs/Build/8012C659-D2E2-441A-81C4-2B385E26AF17.xcactivitylog
macos/DerivedData/Runner/Logs/Build/83787A53-08B1-43FC-9D31-99785EABC2A2.xcactivitylog
macos/DerivedData/Runner/Logs/Build/998329F4-75C1-49CC-9565-34D702D790C9.xcactivitylog
macos/DerivedData/Runner/Logs/Build/5321564E-E059-42E5-A299-9990AD627B18.xcactivitylog
macos/DerivedData/Runner/Logs/Build/A9E936FE-6D05-4824-A61F-3CE8F9A4AFDA.xcactivitylog
macos/DerivedData/Runner/Logs/Build/A3707930-6828-40F7-8158-E475A4F74F2E.xcactivitylog
macos/DerivedData/Runner/Logs/Build/AAED345A-2315-416B-9D4A-0265CC64D5D3.xcactivitylog
macos/DerivedData/Runner/Logs/Build/D497CB21-00F5-4E73-8A78-4FBE8D45AE3F.xcactivitylog
macos/DerivedData/Runner/Logs/Build/D8663F12-51F2-47D0-BFE9-DD805613599E.xcactivitylog
macos/DerivedData/Runner/Logs/Build/D923020E-1804-4275-A955-718CF9AD6E7C.xcactivitylog
macos/DerivedData/Runner/Logs/Build/E1AD52D1-FE89-4DB1-AE13-04BB0080ED40.xcactivitylog
android/app/local.properties
macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
ios/Runner.xcodeproj/project.pbxproj
macos/DerivedData/Runner/info.plist
macos/DerivedData/Runner/Logs/Build/.dat.nosync1491B.YWYO9e
macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
macos/DerivedData/Runner/info.plist
macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
