# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/macos/DerivedData/Runner/Logs/Build/906ED4E9-8637-4C10-8D9D-724D84B6E531.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/0FE345C2-8D86-4CB0-B7DA-BEB4246FC629.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2D973798-5171-498D-97A1-912EC250D1C6.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2E7E5043-2B1A-4887-8D34-AA1A7BF8424B.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/4E898D86-59D6-4297-8032-004B60CF6A0E.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/8B631032-2AAE-4DE5-B838-DCDDF8B25E9C.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/8C9D7DC3-92E7-414E-9883-0DF74E15FAEB.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/26EE83BB-AC79-438E-B909-E8F2597BEE0F.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/54B11779-D31C-4E06-89CA-5165D6F01E4F.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/278CA4FC-976A-4DDE-809D-32A5E22AE72A.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/418A9B6C-5651-4D44-B1FE-F3B5C60E86A9.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/603FC2AF-2384-4084-9FED-EEBC04F7C31D.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/667E4828-803E-4A7E-9B40-698B4600B243.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/780FBF26-093D-4A40-BC1B-0D74DD86B53B.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/909EC11E-CDDD-48DA-A257-4F32792C031E.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/7962FEDD-4464-4E8E-84E9-980EBFA6E554.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2442093B-FC65-41A9-A8D9-DDE3EB4C8325.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/A9EC99D3-1FBF-4E18-A969-64FE8D3D668A.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/B99E00F5-DE69-4A08-B254-B5AF5557498D.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/BFFC4331-D684-4884-81F6-8623F846946B.xcactivitylog
/macos/DerivedData/Runner/info.plist
/macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Launch/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Localization/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Package/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Test/LogStoreManifest.plist
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=475143ee0c547c08caeb90678b439062_hash=18c1723432283e0cc55f10a6dcfd9e02plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=1afd242653d5445cc91001d1513c80a4-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=6ce54dc763a1dc5bec6e1e087f1b983d-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=ae8e777923fb91324939a7378b9c75e1-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=6108cf22519349dd5ac45f2eb28bb8c4-json
/macos/DerivedData/Runner/Logs/Build/906ED4E9-8637-4C10-8D9D-724D84B6E531.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/0FE345C2-8D86-4CB0-B7DA-BEB4246FC629.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2D973798-5171-498D-97A1-912EC250D1C6.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2E7E5043-2B1A-4887-8D34-AA1A7BF8424B.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/4E898D86-59D6-4297-8032-004B60CF6A0E.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/8B631032-2AAE-4DE5-B838-DCDDF8B25E9C.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/8C9D7DC3-92E7-414E-9883-0DF74E15FAEB.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/26EE83BB-AC79-438E-B909-E8F2597BEE0F.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/54B11779-D31C-4E06-89CA-5165D6F01E4F.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/278CA4FC-976A-4DDE-809D-32A5E22AE72A.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/418A9B6C-5651-4D44-B1FE-F3B5C60E86A9.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/603FC2AF-2384-4084-9FED-EEBC04F7C31D.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/667E4828-803E-4A7E-9B40-698B4600B243.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/780FBF26-093D-4A40-BC1B-0D74DD86B53B.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/909EC11E-CDDD-48DA-A257-4F32792C031E.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/7962FEDD-4464-4E8E-84E9-980EBFA6E554.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2442093B-FC65-41A9-A8D9-DDE3EB4C8325.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/A9EC99D3-1FBF-4E18-A969-64FE8D3D668A.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/B99E00F5-DE69-4A08-B254-B5AF5557498D.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/BFFC4331-D684-4884-81F6-8623F846946B.xcactivitylog
/macos/DerivedData/Runner/info.plist
/macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Launch/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Localization/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Package/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Test/LogStoreManifest.plist
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=475143ee0c547c08caeb90678b439062_hash=18c1723432283e0cc55f10a6dcfd9e02plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=1afd242653d5445cc91001d1513c80a4-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=6ce54dc763a1dc5bec6e1e087f1b983d-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=ae8e777923fb91324939a7378b9c75e1-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=6108cf22519349dd5ac45f2eb28bb8c4-json
/macos/DerivedData/Runner/Logs/Build/906ED4E9-8637-4C10-8D9D-724D84B6E531.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/0FE345C2-8D86-4CB0-B7DA-BEB4246FC629.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2D973798-5171-498D-97A1-912EC250D1C6.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2E7E5043-2B1A-4887-8D34-AA1A7BF8424B.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/4E898D86-59D6-4297-8032-004B60CF6A0E.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/8B631032-2AAE-4DE5-B838-DCDDF8B25E9C.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/8C9D7DC3-92E7-414E-9883-0DF74E15FAEB.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/26EE83BB-AC79-438E-B909-E8F2597BEE0F.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/54B11779-D31C-4E06-89CA-5165D6F01E4F.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/278CA4FC-976A-4DDE-809D-32A5E22AE72A.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/418A9B6C-5651-4D44-B1FE-F3B5C60E86A9.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/603FC2AF-2384-4084-9FED-EEBC04F7C31D.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/667E4828-803E-4A7E-9B40-698B4600B243.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/780FBF26-093D-4A40-BC1B-0D74DD86B53B.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/909EC11E-CDDD-48DA-A257-4F32792C031E.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/7962FEDD-4464-4E8E-84E9-980EBFA6E554.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/2442093B-FC65-41A9-A8D9-DDE3EB4C8325.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/A9EC99D3-1FBF-4E18-A969-64FE8D3D668A.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/B99E00F5-DE69-4A08-B254-B5AF5557498D.xcactivitylog
/macos/DerivedData/Runner/Logs/Build/BFFC4331-D684-4884-81F6-8623F846946B.xcactivitylog
/macos/DerivedData/Runner/info.plist
/macos/DerivedData/Runner/Logs/Build/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Launch/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Localization/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Package/LogStoreManifest.plist
/macos/DerivedData/Runner/Logs/Test/LogStoreManifest.plist
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=475143ee0c547c08caeb90678b439062_hash=18c1723432283e0cc55f10a6dcfd9e02plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=1afd242653d5445cc91001d1513c80a4-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=6ce54dc763a1dc5bec6e1e087f1b983d-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=ae8e777923fb91324939a7378b9c75e1-json
/macos/DerivedData/Runner/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=6108cf22519349dd5ac45f2eb28bb8c4-json
/test/
